<div class="vehicle-filter-form">
  <form action="/search" method="get" id="vehicle-filter-form">
    <!-- Access vehicle metafields -->
    {% assign vehicleYears = shop.metaobjects.vehicle_years.values %}

    <!-- Create Make dropdown -->
    <label for="make">Make:</label>
    <select name="make" id="make">
      <option value="">Select Make</option>
      {% for vehicleYear in vehicleYears %}
        <option values="{{ vehicleYear.make.value }}">{{ vehicleYear.make.value }}</option>
      {% endfor %}
    </select>

    <!-- Year Dropdown -->
    <label for="year">Year:</label>
    <select name="year" id="year" disabled>
      <option value="">Select Year</option>
      <!-- Options will be added dynamically -->
    </select>

    <!-- Model Dropdown -->
    <label for="model">Model:</label>
    <select name="model" id="model" disabled>
      <option value="">Select Model</option>
      <!-- Options will be added dynamically -->
    </select>

    <input class="button button-primary" type="submit" value="Show all parts">
  </form>
</div>

<script type="application/javascript">
  // Store the vehicle data for use in JavaScript
  var vehicleYearsData = {{ vehicleYears | json }};
</script>

<script>
  const max_iterations = 20;
  document.addEventListener("DOMContentLoaded", function() {
      var makeSelect = document.getElementById('make');
      var yearSelect = document.getElementById('year');
      var modelSelect = document.getElementById('model');

      makeSelect.onchange = function() {
          // Clear previous options
          yearSelect.innerHTML = '<option value="">Select Year</option>';
          modelSelect.innerHTML = '<option value="">Select Model</option>';

          var selectedMake = makeSelect.value;
          var selectedVehicleYear = vehicleYearsData.find(v => v.make == selectedMake);
          var startYear = parseInt(selectedVehicleYear.min_year);
          var endYear = parseInt(selectedVehicleYear.max_year);

          for(var i=startYear; i<=endYear; i++) {
            var option = document.createElement('option');
              option.value = i;
              option.textContent = i;
              yearSelect.appendChild(option);
          }
        
          yearSelect.disabled = false;
      };

      yearSelect.onchange = async function() {
          // Clear previous options
          modelSelect.innerHTML = '<option value="">Select Model</option>';
        
          var selectedMake = makeSelect.value;
          var selectedYear = yearSelect.value;
          var models = [];

          // Load the access token as per instructions above
          const storefrontAccessToken = '60fde3f3f485c944e443082b95c06f22';
          // Shop from which we're fetching data
          const shop = 'https://arashi-motorcycle.myshopify.com/api/2024-01/graphql.json';
          // StorefrontClient takes in the shop url and the Storefront Access Token for that shop.
          
          var cursor = null;

          for (let i=0; i<= max_iterations; i++) {
            const graphqlQuery = {
              query: `
                query vehicleStorefront {
                  metaobjects(type: "${selectedMake.toLowerCase()}", first: 250 ${cursor == null ? "" : ",after:\"" + cursor + "\"" }) {
                    edges {
                      node {
                        fields {
                          key
                          value
                        }
                      }
                    }
                    pageInfo {
                      hasNextPage
                      endCursor
                    }
                  }
                }`
            };
            const response = await fetch(shop, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-Shopify-Storefront-Access-Token': storefrontAccessToken
              },
              body: JSON.stringify(graphqlQuery)
            })
            var vehiclesData =  await response.json();
            // Handle the response
            console.log(vehiclesData);
            console.log(vehiclesData.data.metaobjects);
            console.log(vehiclesData.data.metaobjects.edges);
            vehiclesData.data.metaobjects.edges.forEach(function(node) {
              console.log(node);
              if (node.fields) {
                node.fields.forEach(field => {
                  console.log(`Key: ${field.key}, Value: ${field.value}`);
                });
              } else {
                console.log('fields is undefined');
              }
              
              if (!node.fields) 
                return;
              let model =  node.fields[0].value;
              let year =  node.fields[1].value;
              if (year === selectedYear && !models.includes(model)) {
                  models.push(vehicle.model);
              }
            });
            if (vehiclesData.data.metaobjects.pageInfo.hasNextPage) {
              cursor = vehiclesData.data.metaobjects.pageInfo.endCursor;
            }
            else {
              break;
            }
            
            
          }
          // Populate model dropdown
          models.forEach(function(model) {
              var option = document.createElement('option');
              option.value = model;
              option.textContent = model;
              modelSelect.appendChild(option);
          });
          
          modelSelect.disabled = false;
      };
  });

  document.getElementById('vehicle-filter-form').addEventListener('submit', function(e) {
    e.preventDefault();

    var make = document.getElementById('make').value;
    var model = document.getElementById('model').value;
    var year = document.getElementById('year').value;
    var baseUrl = "https://arashi-motorcycle.myshopify.com/collections/all";

    var filterUrl = `${baseUrl}?sort_by=best-selling&filter.p.m.custom.make=${make}&filter.p.m.custom.year2=${year}&filter.p.m.custom.model=${model}`;
    window.location.href = filterUrl;
});
</script>
