<div class="vehicle-filter-form">
    <form action="/search" method="get" id="vehicle-filter-form">
        <select name="type" id="type">
            <option value="">Select Type</option>
            <!-- Add options for type -->
            <!-- ... -->
        </select>
        <!-- Repeat for Make, Model, Year -->
        <input type="submit" value="Show all parts">
    </form>
</div>